<ng-container *ngIf="formControl; else noControl">
  <ng-container *ngIf="groupedOptionList; else ungrouped">
    <mat-form-field appearance="outline">
      <mat-label *ngIf="label">{{ label | translate }}</mat-label>
      <mat-select [formControl]="formControl" panelClass="custom-panel" [multiple]="isMultiple" [placeholder]="placeholder | translate">
        <mat-option *ngIf="hasClearOption">{{ "common.select.clear" | translate }}</mat-option>
        <mat-optgroup *ngFor="let group of groupedOptionList" [disabled]="group.diasbled" [label]="group.name | translate">
          <mat-option *ngFor="let option of group.options" [value]="option.value" [disabled]="isOptionDisabled(option.value)">
            {{ option.viewValue | translate }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-error *ngIf="formControl.hasError('required')">{{ 'common.error.required' | translate }}</mat-error>
    </mat-form-field>
  </ng-container>

  <ng-template #ungrouped>
    <mat-form-field appearance="outline">
      <mat-label *ngIf="label">{{ label | translate }}</mat-label>
      <mat-select [formControl]="formControl" panelClass="custom-panel" [multiple]="isMultiple" [placeholder]="placeholder | translate">
        <mat-option *ngIf="hasClearOption">{{ "common.select.clear" | translate }}</mat-option>
        <mat-option *ngFor="let option of optionList" [value]="option.value" [disabled]="isOptionDisabled(option.value)">
          {{ option.viewValue | translate }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formControl.hasError('required')">{{ 'common.error.required'| translate }}</mat-error>
    </mat-form-field>
  </ng-template>
</ng-container>

<ng-template #noControl>
  <!-- TODO create a no formControl version -->
</ng-template>