<mat-accordion>
  <mat-expansion-panel *ngFor="let panel of panelList">
    <mat-expansion-panel-header>
      <mat-panel-title [innerHTML]="panel.title | translate"></mat-panel-title>
      <mat-panel-description class="panel-description-md" [innerHTML]="panel.intro | translate"></mat-panel-description>
    </mat-expansion-panel-header>
    <mat-panel-description class="panel-description-mobile" [innerHTML]="panel.intro | translate"></mat-panel-description>
    <p [innerHTML]="panel.text | translate"></p>
  </mat-expansion-panel>
</mat-accordion>