// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@import "variables.scss";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  color: $link-color;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-color-hover;
}

.mat-slide-wrapper {
  margin-bottom: 22px;
}

/* Various common classes */

.pointer {
  cursor: pointer;
}

.overlay-black {
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.media-flex {
  display: flex;
  gap: 12px;
  padding: 12px 0;
}

/* Info pages classes */
.info-list {
  ul {
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 8px;
    }
  }
}

.info-backdrop-wrapper {
  border-radius: 16px;
  margin-bottom: 20px;
  overflow: hidden;
}

.info-main-section {
  background-color: $background-color;
  border-radius: 16px;
  margin-bottom: 40px;
  padding: 32px 16px;
  color: $text-color;
  text-align: center;

  .main-title {
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .main-info {
    margin: 0 0 12px;
    font-size: 0.95rem;
  }
  .votes-container {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
      text-align: start;
    }
    .vote-average {
      font-size: 2rem;
    }
    .vote-description {
      font-size: 1.2rem;
    }
    .vote-count {
      font-size: 0.8rem;
    }
  }
}

/* Browse pages classes */
.browse-header-container {
  margin-bottom: 32px;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      margin: 0;
      font-size: 2.2rem;
    }
  }

  p {
    margin: 0;
    color: $neutral-color;
  }
}

.browse-filters-container {
  margin-bottom: 16px;
}

.browse-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;

  .card {
    flex: 1;
  }
}

.load-more-container {
  padding: 24px 0;
  text-align: center;
}
