$background-color: #ffffff;
$primary-text-color: #ffffff;
$text-color: #3d3d3d;
$light-color: #e1e6ea;
$neutral-color: #778899;
$primary-color: #ff9800;
$primary-color-hover: #e65100;
$link-color: #3976dc;

$header-height: 64px;
$footer-height: 64px;
